TAURI_DEV_HOST="0.0.0.0"
TAURI_APPLE_DEVELOPMENT_TEAM="12345"
APPLE_DEVELOPMENT_TEAM="12345"
NUXT_PUBLIC_STRAPI_URL="http://localhost:1337"
NUXT_YANDEX_CLIENT_ID=""
NUXT_YANDEX_CLIENT_SECRET=""
NUXT_YANDEX_REDIRECT_URI="http://localhost:3000/api/auth/yandex/callback"
NUXT_STRAPI_OAUTH_PASSWORD_SALT="change-me"
NUXT_SESSION_PASSWORD="change-me-with-at-least-32-characters"
